# Gradle
.gradle/
build/
app/build/
*.main.kts

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/
.navigation/

# VS Code
.vscode/

# Local configuration
local.properties
google-services.json

# Build and Captures
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.jks
*.keystore

# OS / Misc
.DS_Store
Thumbs.db
firebase-debug.log

# Logs
*.log

# Kotlin
.kotlin/
